.article__main{
    display: flex;
    flex-direction: column;
    background: var(--color-footer);
    width: 100%;
    height: 100%;
}

.article__container1-image{
    width: 100%;
    height: 100%;
    background: var(--color-footer);
}

.article__container1-image img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.article__container2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    height: 100%;
}

.article__container2 p{
    font-family: var(--font-family);
    font-size: 11.65px;
    font-weight: 700;
    line-height: 34.95px;
    text-align: left;
    color: #FFFFFF;
    cursor: pointer;
}

.article__container2 h3{
    font-family: var(--font-family);
    font-size: 25.11px;
    font-weight: 800;
    line-height: 30.29px;
    text-align: left;
    cursor: pointer;
    margin-bottom: 5rem;
    color: #FFFFFF;
}

@media screen and (max-width: 550px) {
    .article__container2 h3 {
        font-size: 18px;
        line-height: 25px;
    }
}