.feature__main{
    display: flex;
    flex-direction: row;    
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;  
    margin: 1rem;
}

.feature__heading{
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 180px;
    margin-right: 2rem;
}

.feature__heading div{
    background: var(--gradient-bar);
    width: 38px;
    height: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25rem;
}

.feature__heading h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #fff;
}

.feature__text{
    flex: 2;
    max-width: 390px;
    display: flex;
}

.feature__text p{
    font-family: var(--font-family);
    color: var(--color-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

@media screen and (max-width: 550px){
    .feature__main{
        margin: 1rem 0;
    }
    .feature__heading h1{
        font-size: 14px;
        line-height: 22px;
    }
    .feature__text p{
        font-size: 12px;
        line-height: 20px;
    }
}